Source: xe-guest-utilities
Section: main/admin
Priority: optional
Maintainer: Cloud Software Group Holdings, Inc.
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.0.0)

Package: xe-guest-utilities
Architecture: any
Conflicts: xengmond
Replaces: xengmond
Description: @BRAND_GUEST@ Monitoring Scripts
 Scripts for monitoring @BRAND_GUESTS@.
 .
 Writes distribution version information and IP address to XenStore.
