[Unit]
Description=Linux Guest Agent

[Service]
ExecStartPre=/usr/share/oem/xs/xe-linux-distribution /var/cache/xe-linux-distribution
ExecStart=/usr/share/oem/xs/xe-daemon

[Install]
WantedBy=multi-user.target